@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Arrows */

.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev {
  &:hover, &:focus {
    outline: none;
    background: transparent;
    color: transparent;
  }
}

.slick-next {
  &:hover, &:focus {
    outline: none;
    background: transparent;
    color: transparent;
  }
}

.slick-prev {
  &:hover:before, &:focus:before {
    opacity: 1;
  }
}

.slick-next {
  &:hover:before, &:focus:before {
    opacity: 1;
  }
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
      }
      &:hover:before, &:focus:before {
        opacity: 1;
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      color: black;
      opacity: 0.75;
    }
  }
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider {
  .slick-track, .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide {
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font: 400 16px/1.1 Arial, Helvetica, sans-serif;
  background: url(../img/header_bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

div.container_main {
  width: 1094px;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.main-slider-img {
  margin: 0 auto;
  &:hover {
    cursor: pointer;
  }
}

.main-slider-item {
  outline: 0;
}

.slick-slide {
  padding-bottom: 46px;
}

.main-slider-img-block {
  width: 100%;
}

.slick-dots {
  bottom: 8px !important;
  li {
    margin: 0;
    button:before {
      content: "";
      width: 9px;
      height: 9px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      color: transparent;
      border: 1px solid #fff;
      opacity: 1;
    }
  }
}

.slick-active button:before {
  background: #227185;
  border: 1px solid transparent !important;
  opacity: 1;
}

.slick-prev, .slick-next {
  top: 38%;
  z-index: 999;
}

.main-slider {
  position: relative;
  margin-top: 18px;
}

.slick-next.slick-arrow, .slick-prev.slick-arrow {
  width: 50px;
  height: 50px;
}

.slick-next.slick-arrow:after, .slick-prev.slick-arrow:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
}

.slick-next.slick-arrow:before {
  content: '';
  position: absolute;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  width: 8px;
  height: 8px;
  top: 16px;
}

.slick-prev.slick-arrow:before {
  content: '';
  position: absolute;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  width: 8px;
  height: 8px;
  top: 16px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 18px;
}

.slick-next.slick-arrow:before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 14px;
}

div.slick-dotted.slick-slider {
  margin-bottom: 25px;
}

.main-contant {
  color: #666666;
  background: #fff;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  padding-top: 80px;
}

.main-list-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-list-title {
  text-transform: uppercase;
  margin-bottom: 22px;
}

.main-list-button {
  background: #032f3e;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 36px;
  font-size: 0.55em;
  &:hover {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background: #1abc9c;
  }
}

.main-list-img {
  display: inline-block;
}

.main-list-text {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-left: 18px;
}

.main-list {
  width: 65%;
  display: inline-block;
  margin-bottom: 85px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.main-list-date {
  font-size: 0.75em;
  padding-left: 22px;
  margin-bottom: 39px;
  position: relative;
  .date_icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-list-info {
  font-size: 0.75em;
  line-height: 21px;
  margin-bottom: 30px;
}

.main-list-item {
  margin-bottom: 46px;
  &:nth-child(2n) {
    .main-list-img {
      margin-left: 18px;
    }
    .main-list-text {
      margin-left: 0;
    }
  }
}

.main-aside {
  display: inline-block;
  vertical-align: top;
  width: 34%;
  padding-left: 56px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.main-aside-button {
  margin-right: 1px;
  &:hover {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0.8;
    cursor: pointer;
  }
}

.buttons-block-aside {
  margin-bottom: 48px;
}

.news-title {
  text-transform: uppercase;
  color: #143d4b;
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 46px;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #143d4b;
  }
}

.news-data {
  display: inline-block;
  background: #143d4b;
  color: #fff;
  width: 52px;
  height: 52px;
  font-size: 0.7em;
  position: relative;
  vertical-align: top;
  margin-top: 5px;
}

.news-data-icon {
  position: absolute;
  top: 41%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.news-data-text {
  position: absolute;
  left: 17%;
  bottom: 5px;
}

.news-text {
  display: inline-block;
  width: 75%;
  font-size: 0.7em;
  margin-left: 19px;
  line-height: 20px;
}

.news-item {
  margin-bottom: 40px;
  padding: 0 1px 17px 0;
  border: 1px solid #f0f0f0;
  border-top: 0;
  border-left: 0;
  display: inline-block;
  color: #858585;
}

.news-list {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    bottom: -55px;
    left: 40%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    -webkit-border-radius: 18%;
    border-radius: 18%;
    border: 3px solid #032f3e;
    border-top: 0;
    border-left: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.city-name {
  font-family: 'Poiret One', cursive;
  font-weight: 400;
  text-transform: uppercase;
  color: #f1f1f3;
  margin: 23px 0 35px;
  letter-spacing: 3px;
  font-size: 1.8em;
  display: inline-block;
}

.numbers-list {
  display: block;
}

.numbers-list-item {
  font-family: 'Didact Gothic', sans-serif;
  color: #ffffff;
  position: relative;
  display: inline-block;
  padding: 0 26px 0 21px;
  margin-right: 25px;
  letter-spacing: 1px;
  width: 17%;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background: url(../img/phone_icon.png) no-repeat;
  }
  &:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 45px;
    right: 0;
    top: -13px;
    background: #d5d5d5;
  }
  &:last-child {
    &:before {
      display: none;
    }
    margin-right: 0;
  }
}